
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@font-face {
  font-family: AppleGaramond;
  src: url(../css/AppleGaramond.ttf)s
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  
}
html {
  font-size: 20px;
}
#collect form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}
#collect form p {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
input {
  font-size: 1rem;
  padding: 0.2rem 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  width: 400px;
  height: 40px;
}
input::placeholder{
  font-size: 14px;
}

label {
  font-family: AppleGaramond;
  padding-bottom: 4px;
}
button {

  border-radius: 8px;
  background-color: #1f1f1f;
  color: white;
  font-size: 1rem;
  padding: 16px 22px;
  border: none;
  margin-right: 10%;
  width: 180px;
}
#display > p {
  text-align: right;
}
#display table {
  margin: auto;
  width: 80%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}
th,
td {
  text-align: center;
  padding: 0.25rem 1rem;
  border: 1px solid #ccc;
}
tbody > tr:nth-child(odd) {
  background-color: #eee;
}

.h2 {
  font-family: AppleGaramond;
}

.logowrap {
  padding: 28px;
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.logoimg {
  width: 36px;
}

.logotype {
  font-family: AppleGaramond;
font-size: 28px;
margin: 0;

}

.logosub {
  font-style: italic;
  font-size: 16px;
  margin: 0;
  padding-top: 4px;
}

@media screen and (max-width: 640px) {

  #collect form p {
    margin-bottom: 4px;
  }

  input{
    width: 350px;
  }

  button {
    font-size: 14px;
    width: 160px;
    
  }
}