
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@font-face {
  font-family: AppleGaramond;
  src: url(../css/AppleGaramond.ttf)s
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  
}
html {
  font-size: 20px;
}

body {
  background-color: #F6F6F6;
}

h2 {
  font-family: AppleGaramond;
  font-size: 32px;
}
button:hover{
  cursor: pointer;
}
.flex-center {
  align-items: center !important;
}

.container-wrap {
      display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
        justify-content: center;
    gap: 54px;
}
.container {
  background: white;
  border-radius: 32px;
  display: flex;
  background: white;
  border-radius: 32px;
  flex-direction: column;
}

.container-row {
  display: flex;
  background: white;
  border-radius: 32px;
  gap: 54px;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 48px 48px 48px;


}


.container-big{
  background: white;
  border-radius: 32px;
  display: flex;
  padding: 24px 48px 48px 48px;
  flex-direction: column;
  max-height: 748px;
  overflow: hidden;
}

.show-more {
  max-height: none !important;
}

#collect form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}
#collect form p {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
input, select {
  font-size: 14px;
  padding: 0.2rem 1rem;
  border-radius: 8px;
  border: 1px solid #a1a1a1;
  background-color: #f0f0f0;
  width: 320px;
  height: 36px;
}

input::placeholder{
  font-size: 14px;
}

label {
  font-family: AppleGaramond;
  padding-bottom: 4px;
}
.primary-button {

  border-radius: 8px;
  background-color: #1f1f1f;
  color: white;
  font-size: 18px;
  padding: 12px 48px;
  border: none;
  width: auto;
  margin: 0;
}

.primary-button:hover {
  background-color: #515151;
}

.show-more-button, .show-less-button, .back-button{
  background: none;
  color: #515151;
  border: none;
  font-size: 16px
}
.show-more-button:hover, .show-less-button:hover, .back-button:hover {
  
  color: #1f1f1f;
  text-decoration: underline;
  cursor: pointer;
}

.show-more-button {
  padding-bottom: 32px;
}


.form-field {
  display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 12px;
}

#display > .form-field {
  text-align: right;
}
#display table {
  margin: auto;
  width: 80%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}
th,
td {
  text-align: center;
  padding: 0.25rem 1rem;
  border: 1px solid #ccc;
}
tbody > tr:nth-child(odd) {
  background-color: #eee;
}

.h2 {
  font-family: AppleGaramond;
}

.logowrap {
  padding: 28px;
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.logoimg {
  width: 36px;
}

.logotype {
  font-family: AppleGaramond;
font-size: 36px;
margin: 0;

}

.logosub {
  font-style: italic;
  font-size: 16px;
  margin: 0;
  padding-top: 4px;
  text-align: center;
}

.posts-container {
  gap: 54px;
  display: flex;
  align-items: center;
  justify-items: start;
  flex-wrap: wrap;
}

.modal {
  display: none;
  background-color: #1f1f1f20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.modal-content {
  border-radius: 32px;
  background-color: white;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content; 
}
.text-stack {
  text-align: center;
  max-width: 456px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-stack h2 {
  font-family: AppleGaramond;
  color: #1f1f1f;
  font-size: 32px;
}

.text-stack > p, .p-separator {
  margin: 0px 0px 8px 0px;
  font-size: 16px;
  color: #515151;
}

.button-stack {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 24px;
}


@media screen and (max-width: 640px) {
  .container-row {
    flex-direction: column;
  }

  #collect form p {
    margin-bottom: 4px;
  }

  input{
    width: 350px;
  }

  button {
    font-size: 14px;
    width: 160px;
    
  }
}